Other/WCFSamples-master/WindowsFormsApplication1/WindowsFormsApplication1/Service References/ServiceReference1/NorthwindService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWSCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WSCustomer" nillable="true" type="tns:WSCustomer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWSCustomer" nillable="true" type="tns:ArrayOfWSCustomer" />
  <xs:complexType name="WSCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WSCustomer" nillable="true" type="tns:WSCustomer" />
</xs:schema>